In [1]:
import pandas as pd

convert csv file to df

In [4]:
df_categoires = pd.read_csv(r"G:/My Drive/HỌC TẬP DUE/NNT_năm 4 kì 1/DW & DM/data_warehouse/ETL CSV week 3/62_Nguyen Ngo Thuong SV_ETL_CSV/data set/categories.csv", sep=';')
df_customters = pd.read_csv(r"G:/My Drive/HỌC TẬP DUE/NNT_năm 4 kì 1/DW & DM/data_warehouse/ETL CSV week 3/62_Nguyen Ngo Thuong SV_ETL_CSV/data set/customers.csv")
df_employee_territories = pd.read_csv(r"G:/My Drive/HỌC TẬP DUE/NNT_năm 4 kì 1/DW & DM/data_warehouse/ETL CSV week 3/62_Nguyen Ngo Thuong SV_ETL_CSV/data set/employee_territories.csv")
df_employees = pd.read_csv(r"G:/My Drive/HỌC TẬP DUE/NNT_năm 4 kì 1/DW & DM/data_warehouse/ETL CSV week 3/62_Nguyen Ngo Thuong SV_ETL_CSV/data set/employees.csv")
df_order_details = pd.read_csv(r"G:/My Drive/HỌC TẬP DUE/NNT_năm 4 kì 1/DW & DM/data_warehouse/ETL CSV week 3/62_Nguyen Ngo Thuong SV_ETL_CSV/data set/order_details.csv")
df_orders = pd.read_csv(r"G:/My Drive/HỌC TẬP DUE/NNT_năm 4 kì 1/DW & DM/data_warehouse/ETL CSV week 3/62_Nguyen Ngo Thuong SV_ETL_CSV/data set/orders.csv")
df_products = pd.read_csv(r"G:/My Drive/HỌC TẬP DUE/NNT_năm 4 kì 1/DW & DM/data_warehouse/ETL CSV week 3/62_Nguyen Ngo Thuong SV_ETL_CSV/data set/products.csv")
df_regions = pd.read_csv(r"G:/My Drive/HỌC TẬP DUE/NNT_năm 4 kì 1/DW & DM/data_warehouse/ETL CSV week 3/62_Nguyen Ngo Thuong SV_ETL_CSV/data set/regions.csv")
df_shippers = pd.read_csv(r"G:/My Drive/HỌC TẬP DUE/NNT_năm 4 kì 1/DW & DM/data_warehouse/ETL CSV week 3/62_Nguyen Ngo Thuong SV_ETL_CSV/data set/shippers.csv")
df_suppliers = pd.read_csv(r"G:/My Drive/HỌC TẬP DUE/NNT_năm 4 kì 1/DW & DM/data_warehouse/ETL CSV week 3/62_Nguyen Ngo Thuong SV_ETL_CSV/data set/suppliers.csv")
df_territories = pd.read_csv(r"G:/My Drive/HỌC TẬP DUE/NNT_năm 4 kì 1/DW & DM/data_warehouse/ETL CSV week 3/62_Nguyen Ngo Thuong SV_ETL_CSV/data set/territories.csv")

tạo def

In [5]:
def check_common_columns(df_1,df_2):
    #get columns name to lisst
    column_names_df_1 = df_1.columns.tolist()
    column_names_df_2 = df_2.columns.tolist()
    
    #convert list to set
    set_column_names_df_1 = set(column_names_df_1)
    set_column_names_df_2 = set(column_names_df_2)

    #check common columns
    common_columns = set_column_names_df_1.intersection(set_column_names_df_2)
    print(f"Các cột chung trong hai danh sách và là:", common_columns)

def merge_df(df_1,df_2,key_column,how,name=None):
    check_common_columns(df_1, df_2)
    if name:
        print("DataFrame được gọi: ", name)
    df = pd.merge(df_1, df_2, on=key_column, how=how)

    print(f"""Dataframe 1 có (hàng, cột): {df_1.shape}\nDataframe 2 có (hàng, cột): {df_2.shape}\nNối bằng cột: {key_column}\nCách nối: {how}\nKết quả sau khi merge (hàng, cột): {df.shape}\n""")

    print("=" * 30)
    return df

In [7]:
# check_common_columns(df_categoires, df_products)
df_cate_prd = merge_df(df_categoires, df_products,'categoryID','outer','nối 2 bảng df_categoires, df_products')

Các cột chung trong hai danh sách và là: {'categoryID'}
DataFrame được gọi:  nối 2 bảng df_categoires, df_products
Dataframe 1 có (hàng, cột): (8, 3)
Dataframe 2 có (hàng, cột): (77, 10)
Nối bằng cột: categoryID
Cách nối: outer
Kết quả sau khi merge (hàng, cột): (77, 12)

==============================

In [ ]:
check_common_columns(df_cate_prd, df_suppliers)

dùng thử def cho nhanh

In [ ]:
# df_cate_prd = merge_df(df_categoires, df_products,'categoryID','outer',"df_categoires và df_products")
# df_cate_prd_supp = merge_df(df_cate_prd, df_suppliers, 'supplierID', 'outer', "df_cate_prd và df_suppliers")
# df_cate_prd_supp_order_details = merge_df(df_cate_prd_supp, df_order_details, 'productID', 'outer' )
# df_cate_prd_supp_order_details_ord = merge_df(df_cate_prd_supp_order_details, df_orders, 'orderID', 'outer','df_cate_prd_supp_order_details và df_orders')

KIỂM TRA CỘT CHUNG

In [ ]:
check_common_columns(df_categoires, df_products)
check_common_columns(df_cate_prd, df_suppliers)

dùng bằng cơm

In [ ]:
check_common_columns(df_categoires, df_products)
df_cate_prd = pd.merge(df_categoires, df_products, on='categoryID', how='outer')

In [ ]:
check_common_columns(df_cate_prd, df_suppliers)
df_cate_prd_supp = pd.merge(df_cate_prd, df_suppliers, on='supplierID', how='outer')

In [ ]:
check_common_columns(df_cate_prd_supp, df_order_details)
df_cate_prd_supp_order_details = pd.merge(df_cate_prd_supp, df_order_details, on='productID', how='outer')

In [ ]:
check_common_columns(df_cate_prd_supp_order_details,df_orders)
df_cate_prd_supp_order_details_ord = pd.merge(df_cate_prd_supp_order_details,df_orders,on='orderID', how='outer')

In [ ]:
check_common_columns(df_cate_prd_supp_order_details_ord,df_customters)
df_cate_prd_supp_order_details_ord_cus = pd.merge(df_cate_prd_supp_order_details_ord,df_customters,on='customerID', how='outer')

In [ ]:
check_common_columns(df_cate_prd_supp_order_details_ord_cus,df_employees)
df_cate_prd_supp_order_details_ord_cus_empl = pd.merge(df_cate_prd_supp_order_details_ord_cus,df_employees,on='employeeID', how='outer')

In [ ]:
check_common_columns(df_cate_prd_supp_order_details_ord_cus_empl,df_employee_territories)
df_cate_prd_supp_order_details_ord_cus_empl_emplt = pd.merge(df_cate_prd_supp_order_details_ord_cus_empl,df_employee_territories,on='employeeID', how='outer')

In [ ]:
check_common_columns(df_cate_prd_supp_order_details_ord_cus_empl_emplt,df_territories)

df_cate_prd_supp_order_details_ord_cus_empl_emplt_territories = pd.merge(df_cate_prd_supp_order_details_ord_cus_empl_emplt,df_territories,on='territoryID', how='outer')

In [ ]:
check_common_columns(df_cate_prd_supp_order_details_ord_cus_empl_emplt_territories,df_regions)
df_final = pd.merge(df_cate_prd_supp_order_details_ord_cus_empl_emplt_territories,df_regions,on='regionID', how='outer')

xuất ra csv

In [ ]:
df_final.to_csv("df_check_ytb.csv", index=False)

In [ ]:
# df_final.head()

# Sử dụng .isnull() để kiểm tra giá trị trống
null_values = df_final.isnull()
# Đếm số lượng giá trị trống trong mỗi cột
null_counts_per_column = df_final.isnull().sum()

print(null_counts_per_column)

# print(null_values)

In [ ]:
df_cleaned = df_final.dropna(subset=['orderID'])
# name_columns = df_final.columns.tolist()
# print(name_columns)

In [ ]:
df_cleaned.to_csv("df_final_check1.csv",index=False)

khởi tạo kết nối đến db

In [2]:
import yaml
import pyodbc
from sqlalchemy import create_engine

# Đọc thông tin từ file YAML
file_path_yaml = r"G:\My Drive\HỌC TẬP DUE\NNT_năm 4 kì 1\DW & DM\ETL_Sale week 2\ETL SALE PYTHON\STT_Nguyen Ngo Thuong SV_ETL_Sale\config.yaml"
with open(file_path_yaml, 'r') as yaml_file:
    config = yaml.safe_load(yaml_file)

server = config['database']['server']
database = config['database']['database']
username = config['database']['username']
password = config['database']['password']


# # Chuỗi kết nối SQL Server
# conn_str = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&charset=utf8'

# Tạo chuỗi kết nối cho pyodbc
conn_str = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};Database={database};UID={username};PWD={password}'
conx = pyodbc.connect(conn_str)

# Tạo URL kết nối cho SQLAlchemy
db_url = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(db_url)

load data vào db

In [ ]:
# Đổi 'table_name' thành tên bảng bạn muốn lưu dữ liệu vào
table_name = 'ETL_CSV'

# Lưu DataFrame vào cơ sở dữ liệu
df_cleaned.to_sql(table_name, con=engine, if_exists='replace', index=False)

# Đóng kết nối pyodbc
conx.close()

Kiểm tra kết nối, truy vấn thử

In [ ]:
conx = pyodbc.connect(conn_str)

# Truy vấn để hiển thị top 100 dòng đầu tiên
query = f"SELECT TOP 100 * FROM {table_name}" # Hoặc sử dụng: "SELECT * FROM {table_name} FETCH FIRST 100 ROWS ONLY"


# query = """
#     SELECT COLUMN_NAME, DATA_TYPE 
#     FROM INFORMATION_SCHEMA.COLUMNS 
#     WHERE TABLE_NAME = 'ETL_CSV';
# """


# Thực hiện truy vấn và hiển thị kết quả
cursor = conx.cursor()
cursor.execute(query)


# Lấy tất cả các dòng từ kết quả truy vấn và lưu vào một danh sách
rows = cursor.fetchall()

# Lấy tên các cột từ cursor.description
columns = [column[0] for column in cursor.description]

# Tạo DataFrame từ danh sách dòng và tên cột
df = pd.DataFrame(rows, columns=columns)

# In ra DataFrame
print(df)

# Đóng kết nối pyodbc
conx.close()

Kiểm tra kết nối, truy vấn thử bằng pandas

In [7]:
conx = pyodbc.connect(conn_str)

# Đổi 'table_name' thành tên bảng bạn muốn lưu dữ liệu vào
table_name = 'ETL_CSV'

# Kết nối đến cơ sở dữ liệu
conx = pyodbc.connect(conn_str)

# Truy vấn để lấy dữ liệu
query = f"SELECT TOP 100 * FROM {table_name}"

# Đọc dữ liệu từ truy vấn và tạo DataFrame
data = pd.read_sql(query, conx)

# Đóng kết nối pyodbc
conx.close()

# Hiển thị DataFrame
print(data.head(5))

   categoryID  categoryName                              description  \
0         1.0     Beverages  Soft drinks coffees teas beers and ales
1         6.0  Meat/Poultry                           Prepared meats
2         8.0       Seafood                         Seaweed and fish
3         1.0     Beverages  Soft drinks coffees teas beers and ales
4         1.0     Beverages  Soft drinks coffees teas beers and ales

   productID       productName  supplierID      quantityPerUnit  unitPrice_x  \
0        1.0              Chai         1.0   10 boxes x 20 bags         18.0
1       53.0     Perth Pasties        24.0            48 pieces         32.8
2       40.0  Boston Crab Meat        19.0       24 - 4 oz tins         18.4
3        2.0             Chang         1.0   24 - 12 oz bottles         19.0
4       70.0     Outback Lager         7.0  24 - 355 ml bottles         15.0

   unitsInStock  unitsOnOrder  ...       homePhone  extension  \
0          39.0           0.0  ...  (206) 555-9857     5467.0
1           0.0           0.0  ...  (206) 555-9857     5467.0
2         123.0           0.0  ...  (206) 555-9857     5467.0
3          17.0          40.0  ...  (206) 555-9857     5467.0
4          15.0          10.0  ...  (206) 555-9857     5467.0

                                               photo  \
0  0x151C2F00020000000D000E0014002100FFFFFFFF4269...
1  0x151C2F00020000000D000E0014002100FFFFFFFF4269...
2  0x151C2F00020000000D000E0014002100FFFFFFFF4269...
3  0x151C2F00020000000D000E0014002100FFFFFFFF4269...
4  0x151C2F00020000000D000E0014002100FFFFFFFF4269...

                                               notes reportsTo  \
0  Education includes a BA in psychology from Col...       2.0
1  Education includes a BA in psychology from Col...       2.0
2  Education includes a BA in psychology from Col...       2.0
3  Education includes a BA in psychology from Col...       2.0
4  Education includes a BA in psychology from Col...       2.0

                              photoPath territoryID territoryDescription  \
0  http://accweb/emmployees/davolio.bmp      6897.0               Wilton
1  http://accweb/emmployees/davolio.bmp      6897.0               Wilton
2  http://accweb/emmployees/davolio.bmp      6897.0               Wilton
3  http://accweb/emmployees/davolio.bmp      6897.0               Wilton
4  http://accweb/emmployees/davolio.bmp      6897.0               Wilton

  regionID regionDescription
0      1.0           Eastern
1      1.0           Eastern
2      1.0           Eastern
3      1.0           Eastern
4      1.0           Eastern

[5 rows x 71 columns]

c:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(